a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;

}

.row {
    display: flex;
}

.btn {
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    padding: 15px 64px;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}

/* Header */

header {
    padding: 30px 0 0 0;
    background-color: #f6f2f2;
}

header nav {
    background-color: #313030;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header a {
    font-weight: bold;
    text-transform: uppercase;
    color: #e0e0e0;
    padding: 39px 20px 24px 25px;
    font-size: 17px;
}

header a:hover,
header .active a {
    background-color: #ff3f40;
    color: #e0e0e0;
    padding: 39px 20px 24px 20px;
    margin-right: 5px;
    transition: .3s;
}


/* About */


.about {
    padding: 110px 0;
    background-color: #f6f2f2;
}

.about .row {
    gap: 110px;
    align-items: center;
}

.about .about__col {
    width: 50%;
}

.about .about__title {
    font-weight: 800;
    font-size: 66px;
    line-height: 77px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.about .about__description {
    max-width: 515px;
    margin-bottom: 60px;
}

.about .about_contact {
    background-color: #ff2d2d;
    color: white;
}

.about .about_contact:hover {
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
}

.about .about__video-wrapper iframe {
    width: 100%;
    border: none;
    box-shadow: 0 0 65px -20px black;
}

/*  Services  */

.services {
    padding: 110px 0 50px 0;
    background-color: white;

}
.services .container {
    border-bottom: 2px solid #e5e5e5;
}
.services .services__col {
    width: 50%;
    margin-bottom: 100px;
}
.services .services__title {
    color: #585858;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.services .services__description {
    max-width: 515px;
    margin-bottom: 60px;
}
.services .services__learn {
    background-color: white;
    color: red;
    border: 3px solid red;
}

.services .services__learn:hover {
    background-color: red;
    color: white;
    transition: .3s;
}
.services .services__examples {
    display: flex;
    flex-wrap: wrap;
}
.services .services__example {
    width: 50%;
    padding: 10px 0 30px 20px;
}
.services .services__example-padding {
    padding-right: 10px;
    
}
.services .example__image {
    padding-bottom: 30px;
}
.services .image__title {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #737373;
}

/* Products */

.products {
    padding: 110px 0;
    background-color: white;
}
.products .row {
    flex-wrap: wrap;
}
.products .products__header {
    max-width: 100%;
    flex: 100%;
    text-align: center;
}
.products .products__header-title {
    color: #585858;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.products .products__header-text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}
.products .products__header.after__line{
    position: relative;
}
.products .products__header.after__line:after {
    content: "";
    width: 130px;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-66px);
    background-color: #ff3b3b;
}
.products .products__nav {
    margin: 70px auto 35px;
}
.products .products__nav .products__link {
    margin: 0 23px;
    color: #585858;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.products .products__nav .products__link.active {
    color: red;
}
.products .products__nav .products__link:hover {
    color: red;
    transition: .3s;
}
.products .products__blocks {
    display: flex;
    flex-wrap: wrap;
}
.products .products__block {
    width: 25%;
    text-align: center;
    padding: 13px;
}

/* Team */

.team {
    padding-bottom: 110px;
}

.team .row {
    flex-wrap: wrap;
    justify-content: space-between;
}

.team .team__header {
    max-width: 100%;
    flex: 100%;
    margin-bottom: 60px;
}
.team .team__header .team__header-title {
    color: #585858;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.team .team__header .team__header-text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}
.team .team__header.after__line{
    position: relative;
}
.team .team__header.after__line:after {
    content: "";
    width: 130px;
    height: 2px;
    position: absolute;
    background-color: #ff3b3b;
}

.team .team__picture-lead {
    max-width: 25%;
    flex-basis: 25%
}
.team .team__about {
    max-width: 75%;
    flex-basis: 75%;
    padding-left: 80px;
}
.team .team__name {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.team .team__text {
    max-width: 80%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.team .team__social {
    margin-bottom: 48px;
}
.team .team__link {
    margin-right: 30px;
    color: #313030;
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
}
.team .team__link:hover {
    color: red;
    transition: .3s;
}

.team .team__photo {
    position: relative;
    width: 100%;
}
.team .team__photo {
    width: 100%;
}
.team .team__photo-name {
    width: 100%;
    padding: 20px 0;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.team .team__photo-hover {
    opacity: 0;
}

.team .team__photo:hover .team__photo-name {
    opacity: 0.5;
    transition: .3s;
}
.team .team__photo-name span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-44px, -10px);
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

/*Subscribe*/
.subscribe {
    padding: 140px 0;
    background-color: #f5f0dd;
}
.subscribe .row {
    flex-wrap: wrap;
}
.subscribe .subscribe__header, .subscribe__email {
    text-align: center;
    max-width: 100%;
    flex: 100%;
}
.subscribe .subscribe__header .subscribe__header-title {
    font-size: 42px;
    margin-bottom: 28px;
    font-weight: 600;
    color: white;
}
.subscribe .subscribe__header .subscribe__header-text {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.subscribe .subscribe__email {
    margin-top: 48px;
}
.subscribe .subscribe__input {
    max-width: 460px;
    width: 100%;
    padding: 23px;
    color: #2c2c2c;
    border: 0;
    border-radius: 5px;
}
.subscribe .subscribe__btn {
    color: white;
    margin-left: 17px;
    max-width: 185px;
    width: 185px;
    padding: 20px 15px;
    text-align: center;
    background-color: #ff3b3b;
    border: 2px solid #ff3b3b;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.subscribe .subscribe__btn:hover {
    background-color: #f5f0dd;
    color: #ff3b3b;
}

/* Contact*/

.contact {
    padding: 110px 0;
}
.contact .row {
    flex-wrap: wrap;
}
.contact .contact__header {
    max-width: 58.87%;
    flex: 58.87%;
    margin-bottom: 55px;
}
.contact .contact__header-title {
    margin-bottom: 35px;
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
}
.contact .contact__header-text {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
}

.contact .contact__header.after__line{
    position: relative;
}
.contact .contact__header.after__line:after {
    content: "";
    width: 130px;
    height: 3px;
    position: absolute;
    background-color: #ff3b3b;
}

.contact .contact__form {
    width: 55%;
}
.contact .contact__form-row {
    display: flex;
    flex-wrap: wrap;
}
.contact .contact__form-name {
    margin-right: 50px;
    flex-basis: 0;
    flex-grow: 1;
}
.contact .contact__form-input {
    width: 100%;
    padding: 20px 20px 20px 50px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 10px;
    color: #313030;
}
.contact .contact__form-email, .contact__form-message {
    flex-basis: 0;
    flex-grow: 1;
}
.contact .contact__form-textarea {
    width: 100%;
    height: 240px;
    margin: 25px 0;
    padding: 20px 20px 20px 50px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 10px;
    color: #313030;
    resize: none;
}
.contact .contact__btn {
    width: 100%;
    max-width: 735px;
    height: 72px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: #ff3b3b;
    border: 2px solid #ff3b3b;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .contact__btn:hover {
    background-color: white;
    color: #ff3b3b;
}
.contact .contact__info {
    position: relative;
    color: #e0e0e0;
    background-color: #2d2d2d;
    padding: 100px 53px 80px 70px;
    margin-left: 80px;
    min-height: 432px;
    max-width: 411px;
}
.contact .contact__info-heading {
    color: #e0e0e0;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.contact .contact__info-address {
    font-style: normal;
}
.contact .contact__address-line {
    font-size: 16px;
    line-height: 1.75;
}
.contact .contact__info-address a {
    color: #e0e0e0;
    margin: 15px 0;
}
.contact .contact__info:after {
    width: 569px;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #2d2d2d;
}

/*Footer*/

.footer {
    padding: 40px 0;
    background-color: #313030;
}
.footer .row {
    display: flex;
    flex-wrap: wrap;
}
.footer .footer__copyright {
    flex: 50%;
    max-width: 50%;
}
.footer .footer__copyright-text {
    color: #949494;
}
.footer .footer__social{
    flex: 50%;
    max-width: 50%;
}
.footer .footer__social ul {
    display: flex;
    justify-content: flex-end;

}
.footer .footer__social ul li:not(:first-child) {
    margin-left: 8px;
}